<!DOCTYPE html>
<html>
  <head>
    <% include ../static/partials/head.ejs %>
  </head>
  <body>
    <% include ../static/partials/navbar.ejs %>

    <main class="container">

      <% include ../static/partials/messages.ejs %>

      <h1><%= post.title %></h1>
      <form style="display:intial" action="/topics/<%= post.topicId %>/posts/<%= post.id %>/destroy" method="post">
        <% if(currentUser && (currentUser.isAdmin() || currentUser.isOwner())) { %>
        <button type="submit" class="btn btn-danger">Delete</button>
        <a href="/topics/<%= post.topicId %>/posts/<%= post.id %>/edit" class="btn btn-warning">Edit</a>
        <% } %>
      </form>
      <p><%= post.body %></p>
      <section id="comment-form">
       <% if(currentUser) { %>
         <% include ../comments/new.ejs %>
       <% } %>
      </section>
      <section id="comment-list">
       <% if(post.comments) { %>
         <% post.comments.forEach((comment) => { %>
           <%- include("../comments/show.ejs", {comment}) %>
         <% }) %>
       <% } %>
      </section>
    </main>

    <% include ../static/partials/baseScripts.ejs %>

  </body>
</html>
